$main-black-header: #100f0f;
$main-white: #ffffff;
$main-grey-header: #808080;
$button-header: #e5e5e5;
$main-yellow-products: #fbda1b;
$button-contacts-popup-rest: #ffda00;
$button-contacts-popup-hover: #ffe54a;
$button-contacts-popup-active: #ffc700;
$main-head-products: #000000;
$border-products: #dedede;
$button-hover: #eeeeee;
$button-active: #dbdbdb;
$input-invalid: #e4002b;
$input-rest: #a1a1a1;